@import '../../node_modules/bootstrap/scss/bootstrap-flex';

body {
  background-color: #f6f6f6;
}

.github-ribbon {
  position: absolute;
  width: 20%;
  top: 0;
  left: 0;
  border: 0;
}

.container {
  text-align: center;
}

#welcome {
  font-size: 4vw;
}

#advice {
  font-size: 3vw;
}

@import "joaquim";
@import "flippable-image";
@import "startle-controls";
@import "audio-recorder";
