@import '../../node_modules/bootstrap/scss/bootstrap-flex';

body {
  background-color: #f6f6f6;
}

.container {
  text-align: center;
}

#joaquim {
  button {
    display: block;
    margin: 0 auto;
  }
}

#startle-controls {
  .form-control {
    width: 100px;
  }
}